// .container{
//     border: 1px solid black;
//     padding: 50px 50px;
//     margin: 50px;
//     height: 350px;
//     width: 1350px;
// }
.left{
    border: 1px solid grey;
    padding: 10px 10px;
    margin: 10px;
    width: 350px;
    height: 350px;
}
.right{
    border: 1px solid grey;
    padding: 10px 10px;
    margin: 10px;
    width: 1000px;
    height: 350px;
    
}
.small{
    border: 1px solid grey;
    padding: 10px 10px;
    margin: 10px;
    width: 950px;
    height: 250px;
}
.btn{
    color:white;
    position: relative;
    left: 814px;
    bottom: 30px;

}
#id1{
    border: 10px solid ;
}