 <div class="form">
    <h2>Edit Details</h2>
    <form [formGroup] = "editForm">
        <label>Name:</label>
        <input type="text" placeholder="Enter Name" formControlName="Name">
        <br>
        <label>Domain:</label>
        <input type="text" placeholder="Domain" formControlName="Domain">
        <br>
        <label for="gender">Gender:</label>
       <input type="radio" id="male" name="gender" formControlName="Gender">
       <label for="male">Male</label>
         <input type="radio" id="female" name="gender" formControlName="Gender">
         <label for="female">Female</label>
        <br>
        <label>Date of Birth:</label>
        <input type="date" placeholder=" Enter DOB" formControlName="DOB">
        <br>
        <label>Phone Number:</label>
        <input type="text"  formControlName="Phone">
        <br>
        <label>Location:</label>
        <textarea formControlName="Location"></textarea>
      <br>
      <button (click)="onSubmit()" class="btn">Save</button>

    </form>

</div> 


