<!-- <div class="main-container">
    <div class="topnav">
        <h5>Legacy Life Plan</h5>
        <span><h6>passing on..peaceful mind</h6></span>
        <a routerLink="Home">Home</a>
        <a routerLink="Trust">Trustees</a>
        <a routerLink="Professional">Professionals</a>
        <a routerLink="More">More</a>
      </div>
    <div class="component-container">
      
        <router-outlet></router-outlet>
        

    </div>

</div> -->
<mat-toolbar>
   <span> Leagacy Life Plan</span>
   <div ></div>
   <a routerLink="Home" mat-button>Home</a> 
   <a routerLink="Trust" mat-button>Trustees</a>
   <a routerLink="Professional" mat-button>Professionals</a>
   <a routerLink="More" mat-button>More</a>
  
</mat-toolbar>
<router-outlet></router-outlet>
<!-- <app-editform></app-editform> -->